{% extends 'base.html' %}
{% block title %}Delete Site{% endblock %}
{% block content %}
{% include 'layout/messages.html' %}
<div class="w-full max-w-md mx-auto bg-gray-900 text-white shadow-lg rounded-lg p-8 mt-4">
    <h1 class="text-xl font-semibold text-center mb-6">Delete Site</h1>
    <p class="text-gray-300 mb-4">Are you sure you want to delete the site "{{ site.name }}"? This action cannot be
        undone.</p>
    <form method="post" action="{% url 'delete_site' site.id %}">
        {% csrf_token %}
        <div class="mt-6 flex justify-end space-x-2">
            <button type="submit"
                    class="px-4 py-2 bg-red-600 text-white font-semibold rounded hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-500 shadow-md transition duration-150 ease-in-out">
                Delete
            </button>
            <a type="button"
               href="{% url 'sites_view' %}"
               class="px-4 py-2 bg-gray-600 text-white font-semibold rounded hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-gray-500">
                Cancel
            </a>
        </div>
    </form>
</div>
{% endblock %}