<div id="list-sites-container" class="container mx-auto mt-2" x-data="{ selectedSite: null }">
    <h1 class="text-2xl font-semibold text-center mb-6">Your Sites</h1>
    {% include 'layout/messages.html' %}

    <!-- Button to add a new site -->
  <div class="mb-4 flex justify-end">
    <button hx-get="{% url 'create_site' %}" hx-target="#list-sites-container-content" hx-swap="outerHTML"
            class="px-4 py-2 bg-indigo-600 text-white font-semibold rounded hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 shadow-md transition duration-150 ease-in-out">
        Add New Site
    </button>
</div>


    <!-- List of existing sites -->
    <div id="list-sites-container-content">
        {% if sites %}
    <div id="sites-list" class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
        {% for site in sites %}
            {% include 'sites/site.html' %}
        {% endfor %}
    </div>
        {% else %}
            <p class="text-center text-gray-500">No sites found.</p>
        {% endif %}
    </div>


    <!-- Placeholder for HTMX form -->
    <div id="site-form" class="mt-6"></div>
</div>