<script>
    function copySnippet() {
        // Use innerText to copy only the visible text
        const snippetText = document.getElementById('snippet-content').innerText
            .replace(/&lt;/g, '<') // Decode HTML entities
            .replace(/&gt;/g, '>')
            .replace(/&nbsp;/g, ' ')
            .replace(/\u00a0/g, ' '); // Replace non-breaking spaces with regular spaces

        navigator.clipboard.writeText(snippetText).then(function () {
            alert('Snippet copied to clipboard!');
        }, function (err) {
            console.error('Failed to copy snippet: ', err);
        });
    }
</script>
<div x-data="{ showSnippetModal: false, showOptions: false }">
    <div class="p-4 bg-gray-900 text-white shadow-lg rounded-lg cursor-pointer transition duration-200 ease-in-out transform hover:shadow-xl"
     :class="{ 'bg-gray-700': selectedSite === {{ site.id }} }"
     @click="selectedSite = {{ site.id }}">
        <div class="flex justify-between items-start">
            <div>
                <h2 class="text-lg font-semibold">{{ site.name }}</h2>
                <p class="text-gray-400">
                    {% if site.domain %}
                        {{ site.domain }}
                    {% else %}
                        No domain set.
                    {% endif %}
                </p>
                <p class="text-gray-400">
                    Sessions Today: {{ site.get_today_sessions_count }}
                </p>
                <p class="text-gray-400">
                    Total Sessions: {{ site.sessions_count }}
                </p>
            </div>
            <div class="relative">
                <button @click.stop="showOptions = !showOptions"
                        class="px-2 py-1 bg-gray-600 text-white font-semibold rounded hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-gray-500 shadow-md transition duration-150 ease-in-out">
                    &#x22EE;
                </button>
                <div x-show="showOptions" @click.outside="showOptions = false"
                     x-cloak
                     class="absolute right-0 mt-2 w-30 bg-gray-700 rounded-md shadow-lg z-20 p-1 justify-between ">
                    {#                    <a hx-get="{% url 'update_site' site.id %}" hx-target="#list-sites-container-content"#}
                    <a href="{% url 'update_site' site.id %}"
                            hx-swap="outerHTML"
                            class="block px-4 py-2 bg-indigo-600 text-white font-semibold rounded hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 shadow-md transition duration-150 ease-in-out w-full text-left">
                        Settings
                    </a>
                    <button hx-get="{% url 'delete_site' site.id %}" hx-target="#list-sites-container-content"
                            hx-swap="outerHTML"
                            class="block px-4 py-2 bg-red-600 text-white font-semibold rounded hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-500 shadow-md transition duration-150 ease-in-out w-full text-left">
                        Delete
                    </button>
                </div>
            </div>
        </div>
        <div class="mt-4 flex justify-between items-center">
            <div></div>
            <div>
                <a href="{% url 'sessions_view' site.id %}"
                   type="button"
                        class="px-2 py-1 bg-indigo-600 text-white font-semibold rounded hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 shadow-md transition duration-150 ease-in-out">
                    View Sessions
                </a>
                <button hx-get="{% url 'get_snippet_data' user_id=request.user.id site_id=site.id %}"
                        hx-target="#snippet-content"
                        @click="showSnippetModal = true"
                        hx-trigger="click"
                        class="px-2 py-1 bg-gray-600 text-white font-semibold rounded hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-gray-500 shadow-md transition duration-150 ease-in-out"
                        hx-swap="innerHTML">
                    Install Code
                </button>
            </div>
        </div>
    </div>
    <template x-if="showSnippetModal">
        {% include 'sites/js_snippet_dialog.html' %}
    </template>
</div>