<script>
    function copySnippet() {
        // Use innerText to copy only the visible text
        const snippetText = document.getElementById('snippet-content').innerText
            .replace(/&lt;/g, '<') // Decode HTML entities
            .replace(/&gt;/g, '>')
            .replace(/&nbsp;/g, ' ')
            .replace(/\u00a0/g, ' '); // Replace non-breaking spaces with regular spaces


        navigator.clipboard.writeText(snippetText).then(function () {
            alert('Snippet copied to clipboard!');
        }, function (err) {
            console.error('Failed to copy snippet: ', err);
        });
    }
</script>
<div x-data="{ showSnippetModal: false }">
    <div class="p-4 bg-gray-900 text-white shadow-lg rounded-lg cursor-pointer transition duration-200 ease-in-out transform hover:scale-105 hover:bg-gray-700"
     :class="{ 'bg-gray-700': selectedSite === {{ site.id }} }"
     @click="selectedSite = {{ site.id }}">
    <h2 class="text-lg font-semibold">{{ site.name }}</h2>
    <p class="text-gray-400">
        {% if site.domain %}
            {{ site.domain }}
        {% else %}
            No domain set.
        {% endif %}
    </p>
    <div class="mt-4 flex justify-between items-center">
        <div>
            <button hx-get="{% url 'update_site' site.id %}" hx-target="#list-sites-container-content"
                    hx-swap="outerHTML"
                    class="px-2 py-1 bg-indigo-600 text-white font-semibold rounded hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 shadow-md transition duration-150 ease-in-out">
                Edit
            </button>
            <button hx-get="{% url 'delete_site' site.id %}" hx-target="#list-sites-container-content"
                    hx-swap="outerHTML"
                    class="px-2 py-1 bg-red-600 text-white font-semibold rounded hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-red-500 ml-1 shadow-md transition duration-150 ease-in-out">
                Delete
            </button>
        </div>
        <button hx-get="{% url 'sessions_view' site.id %}" hx-target="#list-sites-container"
                hx-swap="outerHTML"
                class="px-2 py-1 bg-blue-600 text-white font-semibold rounded hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 shadow-md transition duration-150 ease-in-out">
            View Sessions
        </button>
        <button hx-get="{% url 'get_snippet_data' user_id=request.user.id site_id=site.id %}"
                hx-target="#snippet-content"
                @click="showSnippetModal = true"
                hx-trigger="click"
                class="px-2 py-1 bg-gray-600 text-white font-semibold rounded hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-gray-500 shadow-md transition duration-150 ease-in-out"
                hx-swap="innerHTML">
            Install Code
        </button>
    </div>
</div>
    <template x-if="showSnippetModal">
        {% include 'sites/js_snippet_dialog.html' %}
    </template>
</div>

