{% include 'layout/messages.html' %}
<div class="w-full max-w-md mx-auto bg-gray-900 text-white shadow-lg rounded-lg p-8 mt-4">
    <h1 class="text-2xl font-semibold text-center mb-6">Settings</h1>

    <!-- Update Site Form -->
    <form method="post" hx-post="{% url 'update_site' site.id %}" hx-target="#list-sites-container" hx-swap="innerHTML">
        {% csrf_token %}
        <div>
            <label for="name" class="block text-sm font-medium text-gray-300">Site Name</label>
            <input type="text" name="name" id="name" value="{{ site.name }}"
                   class="mt-1 block w-full px-3 py-2 border border-gray-500 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 bg-gray-700 text-white" required>
        </div>
        <div class="mt-6 flex justify-end space-x-2">
            <button type="submit"
                    class="py-2 px-4 bg-indigo-600 text-white font-semibold rounded-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 shadow-md transition duration-150 ease-in-out">
                Update Site
            </button>
            <button type="button" class="px-4 py-2 bg-gray-600 text-white font-semibold rounded hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-gray-500" hx-get="{% url 'list_sites' %}" hx-target="#list-sites-container" hx-swap="innerHTML">
                Cancel
            </button>
        </div>
    </form>

    <!-- Separator -->
    <hr class="my-8 border-gray-700">

    <!-- URL Exclusion Rules Section -->
    <div class="mt-8">
        <h2 class="text-xl font-semibold text-center mb-4">URL Exclusion Rules</h2>

        <form method="post" hx-post="{% url 'add_url_exclusion' site.id %}" hx-target="#url-exclusion-list"
              hx-swap="outerHTML">
            {% csrf_token %}
            <div class="flex flex-col space-y-4">
                <!-- Dropdown for Exclusion Type -->
                <select name="exclusion_type"
                        class="mt-1 block w-full px-3 py-2 border border-gray-500 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 bg-gray-700 text-white">
                    <option value="url_pattern">URL Pattern</option>
                    <option value="domain">Domain</option>
                    <option value="subdomain">Subdomain</option>
                    <option value="ip_address">IP Address</option>
                </select>

                <!-- Input Field for URL Pattern or Domain -->
                <input type="text" name="url_pattern"
                       placeholder="Enter URL pattern (e.g., /admin/*) or domain (e.g., www.site.com)"
                       class="mt-1 block w-full px-3 py-2 border border-gray-500 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 bg-gray-700 text-white"
                       required>

                <!-- Add Rule Button (on a new line) -->
                <div class="flex justify-end">
                    <button type="submit"
                            class="py-2 px-4 bg-indigo-600 text-white font-semibold rounded-md hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 shadow-md transition duration-150 ease-in-out">
                        Add Rule
                    </button>
                </div>
            </div>
        </form>

        <div id="url-exclusion-wrapper" class="mt-6"
                {% if site.id %}
             hx-get="{% url 'get_url_exclusions' site.id %}"
             hx-trigger="load"
             hx-target="#url-exclusion-list"
             hx-swap="outerHTML">
                {% endif %}
        {% include 'exclusion_rules/url_exclusion_list.html' %}
        </div>
    </div>
</div>