{% extends 'base.html' %}
{% block content %}
    <div>
        <div class="container">
            <h1>Replay Session {{ session.session_id }}</h1>

            {% if session.live %}
                <p class="text-yellow-500">This session is currently live. You are viewing the session in real-time.</p>
            {% endif %}

            <div id="rrweb-player" sandbox="allow-scripts"></div>
            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    let events = JSON.parse('{{ session.get_events_json|escapejs }}');

                    const rrwebPlayerInstance = new rrwebPlayer({
                        target: document.getElementById('rrweb-player'),
                        props: {
                            events: events,
                            width: 800,
                            height: 600,
                            autoPlay: true,
                            skipInactive: true,
                            liveMode: true,
                        }
                    });

                    // If the session is live, open a WebSocket to receive real-time updates
                    {% if session.live %}
                        const socket = new WebSocket(`ws://localhost:8000/ws/live-session/{{ session.session_id }}/`);
                        console.log('Opening WebSocket connection to receive live events...');

                        socket.onmessage = function (event) {
                            const newEvent = JSON.parse(event.data);
                            console.log('New event:', newEvent);
                            events.push(newEvent);

                            // Add the new event to the player
                            try {
                                rrwebPlayerInstance.addEvent(newEvent);
                            } catch (e) {
                                console.error('Error adding event:', e);
                            }
                        };

                        socket.onclose = function () {
                            console.log("WebSocket connection closed.");
                        };
                    {% endif %}
                });
            </script>
        </div>
    </div>
{% endblock %}
