{% extends 'base.html' %}
{% block content %}
    <div>
        <div class="container">
            <h1>Replay Session {{ session.session_id }}</h1>
            <div id="rrweb-player"></div>
            <script>
                document.addEventListener('DOMContentLoaded', function () {
                    const events = JSON.parse('{{ session.get_events_json|escapejs }}');

                    if (events.length > 0) {
                        new rrwebPlayer({
                            target: document.getElementById('rrweb-player'),
                            props: {
                                events: events,
                                width: 800,
                                height: 600,
                                autoPlay: true,
                                skipInactive: true,
                            }
                        });
                    } else {
                        console.error('No valid events to replay');
                    }
                });
            </script>
        </div>
    </div>
{% endblock %}