<div id="sessions_list" x-data="{ selectedId: null, select(sessionId) { this.selectedId = sessionId; } }">
    {% if sessions %}
    <div class="space-y-4">
        {% for session in sessions %}
            <div id="{{ session.session_id }}"
                 x-on:click="select('{{ session.session_id }}')"
                 class="relative cursor-pointer p-4 bg-white rounded shadow hover:bg-gray-100 transition"
                 :class="{ 'bg-gray-100': selectedId === '{{ session.session_id }}' }"
                 hx-get="{% url 'replay_session' session.session_id %}"
                 hx-target="#viewer-container"
                 hx-swap="innerHTML">
                <div class="flex justify-between items-start">
                    <h3 class="text-md font-semibold">Session ID: {{ session.session_id }}</h3>
                    <div class="relative" x-data="{ open: false }">
                        <button @click.stop="open = !open"
                                class="text-gray-500 hover:text-gray-700 w-6 h-6 flex items-center justify-center rounded-full bg-gray-200">
                            &#x22EE; <!-- Vertical Ellipsis Icon -->
                        </button>
                        <div x-cloak x-show="open" @click.outside="open = false"
                        >
                            <div
                                    href="{% url 'delete_session' session.session_id %}"
                                    style="z-index: 20"
                                    class="absolute left-full px-4 py-2 bg-red-500 hover:bg-red-600 text-white border border-red-600 rounded shadow-lg">
                                Delete
                            </div>
                        </div>
                    </div>
                </div>
                <p class="text-sm text-gray-600">Date: {{ session.created_at }}</p>
                <p class="text-sm">
                    {% if session.live %}
                        <span class="live-status bg-green-500 text-white rounded px-1 text-xs">Live</span>
                    {% else %}
                    {% endif %}
                    <span class="live-status bg-gray-400 text-white rounded px-1 text-xs">Not Live</span>
                </p>
            </div>
        {% endfor %}
    </div>
{% else %}
        <p class="text-gray-500">No sessions found.</p>
    {% endif %}
</div>