<div class="h-full w-full p-4" style="position: relative; z-index: 10;">
    <div class="flex">
        <div class="flex items-center mb-4">
            <div class="text-xl">Session:</div>
            <div class="text-xl font-bold ml-2">{{ session.session_id }}</div>
        </div>
        {% if session.live %}
            <div id="live-session-indicator" class="flex items-center space-x-2 ml-auto">
                <div class="animate-ping h-3 w-3 bg-green-500 rounded-full"></div>
                <p class="text-green-500">Live Session</p>
            </div>
    {% endif %}
    </div>
    <!-- Make sure this container takes full available space -->
    <div id="rrweb-player" class="my-4 h-full w-full"></div>

    <script>
        // Define a function to initialize the player
        function initializePlayer() {
            let events = JSON.parse('{{ session.get_events_json|escapejs }}');
            const playerContainer = document.getElementById('rrweb-player');
            
            const rrwebPlayerInstance = new rrwebPlayer({
                target: playerContainer,
                props: {
                    events: events,
                    width: playerContainer.clientWidth,  // Use the container's width
                    height: playerContainer.clientHeight - (playerContainer.clientHeight / 4), // Use the container's height
                    speed: 2,
                    autoPlay: true,
                    skipInactive: false,
                    liveMode: {{ session.live|yesno:"true,false" }},
                }
            });

            // Start at the last event if the session is live
            if (events.length > 0) {
                const lastEvent = events[events.length - 1];
                rrwebPlayerInstance.play(lastEvent.timestamp);
            }

            // If the session is live, open a WebSocket to receive real-time updates
            {% if session.live %}
                const socket = new WebSocket(`ws://localhost:8000/ws/live-session/{{ session.session_id }}/`);
                console.log('Opening WebSocket connection to receive live events...');

                socket.onmessage = function (event) {
                    const newEvent = JSON.parse(event.data);
                    events.push(newEvent);

                    // Add the new event to the player
                    rrwebPlayerInstance.addEvent(newEvent);
                    rrwebPlayerInstance.play(newEvent.timestamp);  // Move the player to the new event
                };

                socket.onclose = function () {
                    console.log("WebSocket connection closed.");
                };
            {% endif %}

            // Adjust player size on window resize
            window.addEventListener('resize', function () {
                rrwebPlayerInstance.width = playerContainer.clientWidth;
                rrwebPlayerInstance.height = playerContainer.clientHeight;
            });
        }

        // Use HTMX 'htmx:afterSwap' event to initialize the player
        document.body.addEventListener('htmx:afterSwap', function handleAfterSwap(event) {
            // Check if the swapped content is the replay session container
            if (event.detail.target.id === 'viewer-container') {
                initializePlayer();
                // Remove this event listener to prevent multiple initializations
                document.body.removeEventListener('htmx:afterSwap', handleAfterSwap);
            }
        });
    </script>
</div>
