{% load static %}
<script>
    window.addEventListener('resize', () => {
        Alpine.store('isDesktop', window.innerWidth >= 768);
    });
</script>
<div hx-boost="true">
    <div x-data="{ open: false, isDesktop: window.innerWidth >= 768, currentUrl: window.location.pathname }"
         x-init="$watch('isDesktop', value => { if (value) open = false; })">
        <nav class="bg-gray-900 p-4 shadow-md w-full">
            <div class="container mx-auto flex flex-wrap items-center justify-between">
                <!-- Logo and title -->
                <div class="flex items-center text-white font-bold">
                    <a class="flex text-white no-underline hover:text-indigo-400 hover:no-underline"
                       href="/todo-lists/">
                        <div class="icon">
                            <style>
                                .icon {
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    width: 32px;
                                    height: 32px;
                                    background-color: #1f2937; /* Darker gray background */
                                    border-radius: 8px;
                                    position: relative;
                                }

                                .icon svg {
                                    width: 20px;
                                    height: 20px;
                                    fill: #f87171; /* Red color for the record dot */
                                }

                                .play-button {
                                    position: absolute;
                                    width: 12px;
                                    height: 12px;
                                    border-left: 8px solid #6366F1; /* Indigo color for the play button */
                                    border-top: 6px solid transparent;
                                    border-bottom: 6px solid transparent;
                                    left: 10px;
                                }
                            </style>
                            <!-- Record Dot -->
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                                <circle cx="12" cy="12" r="6"></circle>
                            </svg>
                            <!-- Play Button -->
                            <div class="play-button"></div>
                        </div>
                        <span class="text-2xl pl-2">SessionSpyre</span>
                    </a>
                </div>

                <!-- Mobile menu button -->
                <div class="block lg:hidden">
                    <button @click="open = !open"
                            class="flex items-center px-3 py-2 border rounded text-white border-gray-700 hover:text-indigo-400 hover:border-indigo-400">
                        <svg class="fill-current h-4 w-4" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <title>Menu</title>
                            <path d="M0 3h20v2H0zM0 7h20v2H0zM0 11h20v2H0z"/>
                        </svg>
                    </button>
                </div>

                <!-- Desktop menu -->
                <div class="hidden lg:flex lg:items-center lg:space-x-4">
                    {% if user.is_authenticated %}
                        <a :class="currentUrl == '{% url 'sites_view' %}' ? 'border-b-2 border-indigo-400 text-indigo-400' : 'text-gray-300'"
                           class="hover:text-white font-semibold py-2 px-4 transition duration-150 ease-in-out"
                           href="{% url 'sites_view' %}">My Sites</a>
                        <a :class="currentUrl == '{% url 'profile' %}' ? 'border-b-2 border-indigo-400 text-indigo-400' : 'text-gray-300'"
                           class="hover:text-white font-semibold py-2 px-4 transition duration-150 ease-in-out"
                           href="{% url 'profile' %}">Profile</a>
                        <form method="POST" action="{% url 'logout' %}" class="inline">
                            {% csrf_token %}
                            <button class="text-gray-300 hover:text-white font-semibold py-2 px-4 transition duration-150 ease-in-out"
                                    type="submit">Logout
                            </button>
                        </form>
                    {% else %}
                        <a :class="currentUrl == '{% url 'login' %}' ? 'border-b-2 border-indigo-400 text-indigo-400' : 'text-gray-300'"
                           class="hover:text-white font-semibold py-2 px-4 transition duration-150 ease-in-out"
                           href="{% url 'login' %}">Login</a>
                        <a :class="currentUrl == '{% url 'register' %}' ? 'border-b-2 border-indigo-400 text-indigo-400' : 'text-gray-300'"
                           class="hover:text-white font-semibold py-2 px-4 transition duration-150 ease-in-out"
                           href="{% url 'register' %}">Register</a>
                    {% endif %}
                </div>
            </div>
        </nav>

        <!-- Mobile menu -->
        <div x-cloak x-show="open && !isDesktop" @click.away="open = false"
             class="fixed inset-0 bg-black bg-opacity-50 z-50 transition-opacity duration-300">
            <div x-show="open && !isDesktop" x-transition:enter="transition transform duration-300 ease-in-out"
                 x-transition:enter-start="translate-x-full" x-transition:enter-end="translate-x-0"
                 x-transition:leave="transition transform duration-300 ease-in-out"
                 x-transition:leave-start="translate-x-0" x-transition:leave-end="translate-x-full"
                 class="fixed right-0 top-0 h-full w-64 bg-gray-900 text-white shadow-xl z-50">
                <button @click="open = false" class="absolute top-0 right-0 mt-4 mr-4 text-white">
                    <svg xmlns="http://www.w3.org/2000/svg"
                         class="h-6 w-6 hover:text-gray-500 transition duration-150 ease-in-out" fill="none"
                         viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M6 18L18 6M6 6l12 12"></path>
                    </svg>
                </button>
                <ul class="mt-12 space-y-1">
                    {% if user.is_authenticated %}
                        <li class="px-4 py-2">
                            <a :class="currentUrl == '{% url 'sites_view' %}' ? 'bg-indigo-500' : 'text-gray-300'"
                               class="block hover:bg-indigo-600 font-semibold py-2 px-4 rounded transition duration-150 ease-in-out"
                               href="{% url 'sites_view' %}">My Sites</a>
                        </li>
                        <li class="px-4 py-2">
                            <a :class="currentUrl == '{% url 'profile' %}' ? 'bg-indigo-500' : 'text-gray-300'"
                               class="block hover:bg-indigo-600 font-semibold py-2 px-4 rounded transition duration-150 ease-in-out"
                               href="{% url 'profile' %}">Profile</a>
                        </li>
                        <li class="px-4 py-2">
                            <form method="POST" action="{% url 'logout' %}">
                                {% csrf_token %}
                                <button class="block text-gray-300 hover:bg-indigo-600 font-semibold py-2 px-4 rounded transition duration-150 ease-in-out"
                                        type="submit">Logout
                                </button>
                            </form>
                        </li>
                    {% else %}
                        <li class="px-4 py-2">
                            <a :class="currentUrl == '{% url 'login' %}' ? 'bg-indigo-500' : 'text-gray-300'"
                               class="block hover:bg-indigo-600 font-semibold py-2 px-4 rounded transition duration-150 ease-in-out"
                               href="{% url 'login' %}">Login</a>
                        </li>
                        <li class="px-4 py-2">
                            <a :class="currentUrl == '{% url 'register' %}' ? 'bg-indigo-500' : 'text-gray-300'"
                               class="block hover:bg-indigo-600 font-semibold py-2 px-4 rounded transition duration-150 ease-in-out"
                               href="{% url 'register' %}">Register</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</div>
